* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
    font-family:Arial, Helvetica, sans-serif ;
}

.heading {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    width: 80%;
}

.container {
    width: 22%;
    background: linear-gradient(135deg, #00feba, #5b548a );
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    padding: 0 20px;
    margin-right: 16px;
    flex: 1;
    font-size: 16px;
}

.search-bar button {
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    font-size: 16px;
}

.weather h1 {
    font-size: 64px;
}

.weather h2 {
    font-size: 48px;
}

.weather-icon {
    width: 30%;
}

.humidity-wind-imgs {
    width: 25%;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}

.details-part {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}

p {
    margin-left: 14px;
}

.humidity, .wind  {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 1040px) {
    .container {
        width: 29%;
    }
}

@media (max-width: 780px) {
    .container {
        width: 40%;
    }
}

@media (max-width: 450px) {
    .container {
        width: 67%;
    }
    .humidity-wind-imgs {
        width: 25%;
        height: 40px;
    }
    p {
        margin-left: 5px;
    }
}


@media (max-width: 390px) {
    .container {
        width: 72%;
    }
    .humidity-wind-imgs {
        width: 25%;
        height: 40px;
    }
    p {
        margin-left: 5px;
    }
}

@media (max-width: 325px) {
    .container {
        width: 82%;
    }
    .humidity-wind-imgs {
        width: 25%;
        height: 40px;
    }
    p {
        margin-left: 5px;
    }
}

@media (max-width: 330px ) {
    .details {
        width: 100%;
        margin-top: 64px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .details-part {
        margin-bottom: 16px;
    }
}

.weather {
    display: none;
}

.error {
    margin-top: 16px;
    display: none;
}